<div class="first">

  <div class="letter">A</div>
  <div class="letter">B</div>
  <div class="letter"></div>
  <div class="letter">D</div>
  <div class="letter">E</div>

  <div class="seat taken"></div>
  <div class="seat"></div>
  <div class="middle">1</div>
  <div class="seat"></div>
  <div class="seat"></div>

  <div class="seat"></div>
  <div class="seat"></div>
  <div class="middle">2</div>
  <div class="seat taken"></div>
  <div class="seat taken"></div>

  <div class="seat taken"></div>
  <div class="seat taken"></div>
  <div class="middle">3</div>
  <div class="seat"></div>
  <div class="seat"></div>

  <div class="seat"></div>
  <div class="seat taken"></div>
  <div class="middle">4</div>
  <div class="seat"></div>
  <div class="seat taken"></div>
</div>
