$pink: #E83697;
$blue: #2164E4;
$gray: #B2B3B4;
$eggshell: #DCDDDF;

.first {
   display: grid;
   margin: 20% auto;
}

.seat {
  width: 2rem;
  height: 2rem;
  border-radius: 2%;
  background: $eggshell;
}

.aisle {
  background: none;
  padding: 15% 20%;
}

.letter {
  padding: 20% 40%;
}

.aisle, .seat {
  margin: 5% 10% 30% 20%;
}

.aisle, .letter {
  color: $gray;
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
}

.taken {
  background: $blue;
}

.selected {
  background: $pink;
}
