$pink: #E83697;
$blue: #2164E4;
$gray: #B2B3B4;
$eggshell: #DCDDDF;

body {
  animation: fade-in 3s;
  -webkit-animation: fade-in 3s;
  transition-timing-function: linear;
}

.first,
.business,
.economy {
   display: grid;
   margin: 0 auto;
}

.seat {
  width: 2rem;
  height: 2rem;
  border-radius: 15%;
  background: $eggshell;
  transition: 0.25s;
  &:hover {
    background: $gray;
  }
}

.aisle {
  background: none;
  padding: 15% 20%;
}

.letter {
  padding: 20% 40%;
}

.seat,
.aisle {
  margin: 5% 10% 30% 20%;
}

.aisle,
.letter {
  color: $gray;
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
}

.occupied {
  background: $blue;
  &:hover {
    background: $blue;
  }
}

.selected {
  background: $pink;
  animation: pulse 1s;
  &:hover {
    background: $pink;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(232, 54, 151, 0.4);
    box-shadow: 0 0 0 0 rgba(232, 54, 151, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 0.6rem rgba(204,169,44, 0);
      box-shadow: 0 0 0 0.6rem rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(232, 54, 151, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 0.6rem rgba(232, 54, 151, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(232, 54, 151, 0);
  }
}

@keyframes fade-in {
    from { filter: opacity(0); }
    to   { filter: opacity(10); }
}
@-webkit-keyframes fade-in {
    from { filter: opacity(0); }
    to   { filter: opacity(1); }
}
